.vs/ 
ipch/
x64/
Reference/
*.vsidx
*.lock
*.sqlite
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 
libprotobufd.lib
ProtocolBufferD.lib
Engine.lib
EngineD.lib

CodeDungeon/Resource/AnimModel/Player/Anim/F_Human.bin
CodeDungeon/Resource/AnimModel/Player/Anim/FemalePlayer.bin
CodeDungeon/Resource/AnimModel/Player/Convert/F_Human_FBX.bin
CodeDungeon/Resource/AnimModel/Player/F_Human.fbx
