.vs/ 
ipch/
x64/
Reference/
*.vsidx
*.lock
*.sqlite
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 
libprotobufd.lib
ProtocolBufferD.lib
Engine.lib
EngineD.lib
/CodeDungeon/Resource/Model/Eviornmemt/Exterior/
/CodeDungeon/Resource/Model/Map.zip
/CodeDungeon/Resource/Model/Map
CodeDungeon/Resource/AnimModel/Warriror/Anim/Warrior.bin
CodeDungeon/Resource/AnimModel/Warriror/Convert/Warrior_FBX.bin
CodeDungeon/Resource/AnimModel/Warriror/Convert/Warrior_FBX.bin
