.vs/ 
ipch/
x64/
Reference/
*.vsidx
*.lock
*.sqlite
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 
libprotobufd.lib
ProtocolBufferD.lib
Engine.lib
EngineD.lib
/CodeDungeon/Resource/Model/Map/Exterior/Textures
CodeDungeon/Resource/Model/Map.zip
CodeDungeon/Resource/Model/Map/Exterior/Environment_Exterior.fbx
/CodeDungeon/Resource/Model/Map
